<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="threplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <threplay.Properties.Settings>
            <setting name="gameVisibility" serializeAs="String">
                <value>YYYYYYYYYYYYYYYYYYY</value>
            </setting>
            <setting name="th06_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th06_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th07_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th07_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th08_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th08_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th09_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th09_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th095_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th095_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th10_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th10_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th11_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th11_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th12_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th12_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th125_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th125_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th128_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th128_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th13_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th13_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th135_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th135_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th14_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th14_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th143_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th143_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th145_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th145_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th15_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th15_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th155_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th155_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th16_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th16_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th165_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th165_b" serializeAs="String">
                <value>!</value>
            </setting>
        </threplay.Properties.Settings>
    </userSettings>
</configuration>