<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="threplay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <threplay.Properties.Settings>
            <setting name="th06_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th06_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th07_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th07_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th08_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th08_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th09_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th09_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th095_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th095_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th10_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th10_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th11_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th11_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th12_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th12_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th125_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th125_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th128_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th128_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th13_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th13_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th14_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th14_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th143_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th143_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th15_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th15_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th16_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th16_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th165_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th165_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th06_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th07_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th08_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th09_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th095_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th10_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th11_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th12_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th125_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th128_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th13_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th14_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th143_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th15_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th16_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th165_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th17_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th17_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th17_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="updates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="th18_l" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th18_b" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="th18_e" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="gameVisibility" serializeAs="String">
                <value>YYYYYYYYYYYYYYYYYY</value>
            </setting>
        </threplay.Properties.Settings>
    </userSettings>
</configuration>